[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
notebook = "*"
ipywidgets = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"
plotly = "*"
matplotlib = "*"
ydata-profiling = "*"
streamlit = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.10"
